html,body{
    height:100vh;
    position: relative;
}

.body-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.content-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.exhibit-container{
    margin-top: 3%;
    text-align: center;
    width: 80%;
    height: calc(100% - 100px);
    flex-grow: 1;
    overflow-y:auto;
}

.search-container{
    background-color: white;
    width: 90%;
    margin: auto;
    height: 100px;
    position: relative;
}

.footer{
    font-size: 4vw;
    line-height: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
    background-color: #222;
    height: 50px;
}

/* Keeps footer to a reasonable text size on large screens */
@media screen and (min-width: 375px) {
    div {
       font-size: 15px;
    }
  }

.main-logo{
    width: 70%;
    display: block;
    margin: auto;
}

.form-submit{
    color: white;
    border-radius: 0 5px 5px 0;   
    border: none;
    height: 100%;
    padding: 6px 10px 6px 10px;
    font-size: 30px;
    background-color: #4bace9;
}

.form-input{
    -webkit-appearance: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid lightgrey;
    padding: 5px;
    font-size: 30px;
    width: 70%;
}

*:focus{
    outline:1px;
    border: 1px solid #4bace9;
}

.justify-center{
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.contain{
    max-width: 100%;
    max-height: 100%;
}
